@media only screen and (min-width: 1000px) {


}
@media only screen and (max-width: 1000px) and (min-width: 700px) {
    /* Style adjustments for viewports that meet the condition */

	#works{
	.fig4, .fig4, .fig8{margin-right: 3.067484662%; }
	.fig3, .fig6, .fig9{margin-right: 0;}

	a{width : 31.288343558%;}
    }

}

@media only screen and (max-width: 700px) and (min-width: 500px) {
    /* Style adjustments for viewports that meet the condition */

	#works{
	
	.fig2, .fig4, .fig6, fig8 .fig10{margin-right: 0;}

	a{width : 48.466257668%;}
    }

}

@media only screen and (max-width: 500px) {
    /* Style adjustments for viewports that meet the condition */

	#works{
	

	a{width : 100%;
		margin-right: 0;
	}
    }

}